<p id="notice"><%= notice %></p>

<h1>Listing Boards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <ul class="list-group">
        <li class="list-group-item"><%= board.names %>

       <%= link_to 'Show', board, class: "btn" %>
      

       </li>
       
      </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board', new_board_path %>
