<div id="map"> </div>
<button onclick="getLocation()">Try It</button>





<script>
var x = document.getElementById("map");
function getLocation() {
 if (navigator.geolocation) {
 navigator.geolocation.getCurrentPosition(showPosition);
 } else {
 x.innerHTML = "Geolocation is not supported by this browser.";
 }
}
function showPosition(position) {
 x.innerHTML = "Latitude: " + position.coords.latitude +
 "<br>Longitude: " + position.coords.longitude;
 var latitude = position.coords.latitude
 var longitude = position.coords.longitude


  $.ajax({
  url: '<%= boards_guardar_map_path %>',
  type: 'GET',
  dataType: 'script',
  data: {param1: latitude, param2: longitude},
  })

}



</script>