<style>
#map {height: 400px;
}

 </style>

<div id="map"></div>
    <script>var handler = Gmaps.build('Google');
handler.buildMap({
    internal: {id: "map"},
    provider: {
        backgroundColor: "black",
        center: new google.maps.LatLng(-33, -70.6)
    }}, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
    });
      
    </script>



<!--<script>
var x = document.getElementById("map");
function getLocation() {
 if (navigator.geolocation) {
 navigator.geolocation.getCurrentPosition(showPosition);
 } else {
 x.innerHTML = "Geolocation is not supported by this browser.";
 }
}
function showPosition(position) {
 x.innerHTML = "Latitude: " + position.coords.latitude +
 "<br>Longitude: " + position.coords.longitude;
 var latitude = position.coords.latitude
 var longitude = position.coords.longitude


  $.ajax({
  url: '<%= boards_guardar_map_path %>',
  type: 'GET',
  dataType: 'script',
  data: {param1: latitude, param2: longitude},
  })

}
-->


